[submodule "ECO/src/iso15118"]
	path = ECO/src/iso15118
	url = https://github.com/hyndex/iso15118.git
[submodule "ECO/src/pyslac"]
	path = ECO/src/pyslac
	url = https://github.com/hyndex/pyslac.git
[submodule "everest/everest-core"]
	path = everest/everest-core
	url = https://github.com/EVerest/everest-core
